<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"><span class="m-1"><i class="far fa-paper-plane fa-lg"></i> 𝙈𝙚𝙨𝙨@𝙜𝙚</span>  <sup><small style="font-size: x-small;">VOTRE MESSAGERIE SECURISEE</small></sup></span>
  <%= link_to 'Créer un mail ✍ ', new_email_path, :class => "btn btn-dark m-1", remote: true %>
</nav>
<hr class="m-0">
<div class="container m-0">
  <div class="row align-items-top">
    <div class="col-4">
      <table class="table table-hover">
        <tbody id="newMail">
          <% @emails.each do |email| %>
          <tr>
            <td type="button" id="delete<%= email.id %>"><%= link_to email.object, email, remote: true %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-8">
      <div class="container m-2" id="contentEmail">
        <div class="row align-items-center" style="text-align: center;">
          <p><i class="fas fa-shipping-fast fa-3x animated"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
